*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.person {
  text-align: center;
  margin: 0 auto;
}

.answer {
  margin-top: 10px;
}

img.photo {
  width: 200px;
  height: 200px;
}

.entry {
  width: 800px;
  margin: 0 auto;
}

.entry textarea {
  width: 100%;
  height: 200px;
}

#question, #answer {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

#answer.success {
  border-color: rgb(150, 255, 150);
}

#answer.failure {
  border-color: rgb(255, 150, 150);
}

.answers {
  font-size: 0;
}

.choice {
  width: 49%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container > h1 {
  text-align: center;
  margin: 25px auto;
}

.scores {
  margin: 10px auto;
}

.game h2, .restart, .replay {
  text-align: center;
}

.failures {
  margin: 20px auto;
  text-align: center;
}

.failures h3 {
  margin-bottom: 10px;
}

.failures img {
  width: 75px;
  height: 75px;
}