*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.person {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

.answer {
  margin-top: 10px;
}

img.photo {
  width: 200px;
  height: 200px;
}

.entry {
  width: 800px;
}

.entry textarea {
  width: 100%;
  height: 200px;
}

#question, #answer {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

.answers {
  font-size: 0;
}

.choice {
  width: 49%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}