<label class="difficulty-select">
  Difficulty:
  <select class="difficulty pull-right form-control">
    {{#select selectedDifficulty}}
      {{#each difficulties}}
        <option value="{{this.value}}">{{this.name}}</option>
      {{/each}}
    {{/select}}
  </select>
</label>
