*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.person {
  text-align: center;
  margin: 0 auto;
}

.answer {
  margin-top: 10px;
}

img.photo {
  width: 200px;
  height: 200px;
}

.entry {
  width: 800px;
  margin: 0 auto;
}

.entry textarea {
  width: 100%;
  height: 200px;
}

.game-pane {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;

  &.success {
    border-color: rgb(150, 255, 150);
  }

  &.failure {
    border-color: rgb(255, 150, 150);
    img {
      width: 75px;
      height: 75px;
    }
  }
}

.answers {
  font-size: 0;
}

.choice {
  width: 49%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container > h1 {
  text-align: center;
  margin: 25px auto;
}

.scores {
  margin: 10px auto;
}

.game h2, .restart, .replay {
  text-align: center;
}

.failures {
  margin: 20px auto;
  text-align: center;

  h3 {
    margin-bottom: 10px;
  }

  img {
    width: 75px;
    height: 75px;
  }
}

.tt-dropdown-menu {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}
