<label class="difficulty-select">
  Difficulty:
  <select class="difficulty pull-right form-control">
    {{#each difficulties}}
      <option value="{{this.value}}">{{this.name}}</option>
    {{/each}}
  </select>
</label>
